body {
    font-family: sans-serif;
}

. {
    box-sizing: border-box;
}

.first-container {
    background-color: darksalmon;
    box-shadow: 0 5px 16px;
    padding: 1rem;
    position: relative;
    z-index: 5;
}

.second-container {
    background-color: darkcyan;
    box-shadow: 0 5px 16px;
    margin-left: 2rem;
    padding: 1rem;
    position: relative;
    z-index: 3;
}

.box {
    width: 200px;
    height: 200px;
    margin: 1rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 8px;
    color: white;
    margin-bottom: -100px;
}

.red-box {
    background-color: red;
}

.green-box {
    background-color: green;
    margin-left: 2rem;
}

.blue-box {
    background-color: blue;
    margin-left: 3rem;
}

.first-container .blue-box {
    z-index: 1;
}

.second-container .red-box {
    z-index: 100;
}